<% @users.each do |user| %>
    <%= user.email %>
    <div class="permission">
        Admin: <%= user.can_admin %>
        Sales: <%= user.can_sale %>
        Reports: <%= user.can_report %>
    </div>
<% end %>
