<div id="account_types" class="row-fluid">
    <div class="span6">
        <h4>Create Account types</h4>
        <%= render "accounts/account_types_form" %>
    </div>
    <div class="span6">
        <h4>Create Accounts</h4>
        <%= render "accounts/account_form" %>
    </div>
</div>

<hr>

<div id="accounts" class="row-fluid">
    <div class="span6">
    </div>
    <div class="span6">
    </div>
</div>

