<div class="row-fluid">
    <div class="span6">
        <%= render "stock/catagories" %>
    </div>
    <div class="span6">
        <%= render "stock/catagory_form" %>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span6">
        <%= render "stock/stock_form" %>
    </div>
    <div class="span6">
        <%= render "stock/stocks" %>
    </div>
</div>
