
<ul>
    <li><%= link_to "accounts", manage_accounts_path %></li>
    <li><%= link_to "stock", manage_stocks_path %></li>
    <li><%= link_to "account transfer", manage_account_transfer_path %></li>
    <li><%= link_to "Bills", manage_bills_path %></li>
</ul>
