<ul class="list-catagories no-bullet">
    <% @catagories.each do |catagory| %>
        <li class="cats display clickable" id="<%= catagory.id%>">
            <%= catagory.name %>
        </li>
    <% end %>
</ul>
