<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @account_types.each do |ac| %>
        <% if !ac.accounts.empty? %>
            <% ac.accounts.each do |account| %>
            <tr>
                <td><%= account.name %></td>
                <td><%= ac.name %></td>
                <td><%= account.balance %></td>
            </tr>
            <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>
